@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.image {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: aquamarine;
    padding: 3px;
    margin-bottom: 10px;
    transition: all 0.5s ease;
}

.image:hover {
    height: 200px;
    width: 200px;
    background-color: lightgreen;
}

.image > .profile-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid white;
}

.cont {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
}

.profile-card {
    max-width: 370px;
    width: 100%;
    background: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 24px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text > .name {
    font-size: 22px;
    font-weight: 500;
}

.text > .job {
    font-size: 15px;
    font-weight: 400;
}

.button {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.button > .link {
    text-decoration: none;
    background-color: mediumaquamarine;
    font-size: 18px;
    margin: 0 8px;
    border-radius: 50%;
    height: 34px;
    width: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    transition: all 0.3s ease;
}

.link:hover {
    font-size: 23px;
    color: khaki;
}

.contact {
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.contact > .node {
    text-decoration: none;
    color: black;
    margin: 0 10px;
    padding: 8px 24px;
    background-color: azure;
    border-radius: 24px;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.3s ease;
    border: 2px solid;
}

.node:hover {
    background-color: cadetblue;
    font-size: 16px;
    color:khaki;
}

/* //////////////////// */
.big-cont {
    display: flex;
    width: 90%;
    margin: auto;
}

.left-cont {
    text-align: center;
    width: auto;
    padding: 50px 50px 50px 0;
}

.left-cont > .image {
    margin: 20px 50px 20px;
}

.left-cont > .image:hover {
    height: 200px;
    width: 200px;
    background-color: lightgreen;
}

.button-wrapper > .button {
    position: relative;
    height: auto;
    margin: 10px auto;
    width: 200px;
}

.contact-wrapper > .contact {
    position: relative;
    height: auto;
    margin: 20px auto;
    width: 250px;
}

.contact-wrapper > .contact > .node {
    margin: 0 8px;
}

.contact-wrapper > .contact > .node:hover {
    background-color: cadetblue;
    font-size: 14px;
    color:khaki;
}

.content {
    height: 100px;
    margin-bottom: 100px;
}

.content h2 {
    margin-top: 40px;
}

.content p {
    margin-bottom: 10px;
}

.content h2 a {
    text-decoration: none;
    color: #1772dc;
}

.content > a {
    text-decoration: none;
    color:  #1772dc;
}

.repo-language-color {
    position: relative;
    top: 1px;
    display: inline-block;
    width: 12px;
    height: 12px;
    /* border: 1px solid var(--color-primer-border-contrast); */
    border-radius: 50%;
}

.language-sec {
    padding: 10px 0;
}

.topic-sec {
    display: flex;
}

.topic-sec .topic {
    display: inline-block;
    padding: 0 7px;
    font-size: 15px;
    line-height: 18px;
    white-space: nowrap;
    border: 1px solid transparent;
    border-radius: 2em;
    padding-right: 10px;
    padding-left: 10px;
    line-height: 22px;
    border: 1px solid #ddf4ff;
    margin: 5px 10px 0 0;
    background-color: #ddf4ff;
    color: #2f82e1;
    font-weight: 550;
    transition: 0.65s;
    cursor: pointer;
}

.topic:hover {
    color: white;
    background-color: #2f82e1;
}