@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&family=Tektur&display=swap');

/* font */
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab', serif;
}

/* header */
.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(png/background.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

nav img {
  width: 100px;
  height: 100px;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a {
  color: whitesmoke;
  text-decoration: none;
  font-size: 15px;
}

.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: aquamarine;
  display: block;
  margin: auto;
  transition: 0.3s ease;
}

.nav-links ul li:hover::after {
  width: 100%;
}

.text-box {
  width: 90%;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-box h1 {
  font-size: 62px;
}

.text-box p {
  margin: 10px 0 40px;
  font-size: 14px;
  color: white;
}

.btn {
  display: inline-block;
  text-decoration: none;
  color: white;
  border: 1px solid white;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
  border-radius: 25px;
  transition: 1s ease;
}

.btn:hover {
  border: 1px solid aquamarine;
  background-color: aquamarine;
  color: black;
  font-size: 20px;
}

nav .bx {
  display: none;
}

/* media */
@media (max-width: 700px) {
  .text-box h1 {
    font-size: 20px;
  }

  .nav-links ul li {
    display: block;
  }

  .nav-links {
    position: absolute;
    background: darkgreen;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }

  nav .bx {
    display: block;
    color: whitesmoke;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }

  .nav-links ul {
    padding: 14px;
  }

  .row {
    flex-direction: column;
  }
}

/* common */
h1 {
  font-size: 36px;
  font-weight: 600;
}

h2 {
  font-size: 25px;
  font-weight: 450;
}

p {
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}

.row {
  display: flex;
  margin-top: 5px;
  justify-content: space-between;
}

h3 {
  text-align: center;
  font-weight: 475;
  margin: 10px 0;
}

.universities,
.scholarships,
.works {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}

/* .greetings */
.greetings {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 25px;
}

.logo_at_greetings {
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100px;
  height: 100px;
}

.greetings-col {
  flex-basis: 31%;
  background: azure;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
}

/* .universities */
.universities {
  background-color: azure;
  border-radius: 20px;
}

.universities-col {
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}

.universities-col img {
  width: 100%;
  display: block;
}

.layer {
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
  color: transparent;
}

.layer:hover {
  background: rgba(13, 19, 13, 0.678);
  color: white;
}

/* scholarships section */
.sch-row h2,
.sch-row h3,
.sch-row p {
  display: block;
  text-align: left;
}

.sch-row p a {
  text-decoration: none;
  color: blue;
  font-weight: 600;
}

.sch-row h2 {
  margin-top: 50px;
  font-size: 30px;
  font-weight: 900;
}

.sch-row h3 {
  margin-top: 2px;
  font-size: 18px;
  font-weight: 800;
}

.sti {
  background-image: linear-gradient(to top, #016001, #e4e4e4, #ff0000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.era {
  background-image: linear-gradient(
    to top,
    #0221bb,
    #132cc3,
    #1e37cc,
    #2741d4,
    #304bdc,
    #0069ec,
    #0083f8,
    #009cff,
    #00c4ff,
    #00e2e4,
    #00f88d,
    #bdff00
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.other {
  background-image: linear-gradient(
    to top,
    #000000,
    #191919,
    #2b2b2b,
    #3f3f3f,
    #535353,
    #606060,
    #6e6e6e,
    #7c7c7c,
    #868686,
    #919191,
    #9b9b9b,
    #a6a6a6
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* works section */
.works {
  background-color: azure;
  border-radius: 20px;
}

.works .row {
  display: flex;
  margin-top: 5px;
  justify-content: center;
}

.works-col {
  flex-basis: 32%;
  border-radius: 10px;
  margin: 30px 90px;
  position: relative;
  overflow: hidden;
  text-align: left;
}

.works-col img {
  width: 100%;
  display: block;
}

/* footer section */
.footer {
    width: 100%;
    text-align: center;
    padding: 30px 0;
    background-image: linear-gradient(to right top, #a6a6a6, #acacac, #b2b2b3, #b9b9b9, #bfbfc0, #c4c4c6, #c8c9cb, #ccced1, #cfd3d7, #d2d9db, #d6dfe0, #dae4e3);
    margin-top: 100px;
}

.footer .foot-col {
  margin: 0 8px;
}

.footer h4 {
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}

.footer p {
    font-size: 14px;
}

.icons .bx {
    color: red;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}

/* GROUP-HEADER */
.group-header {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(png/hssvvh.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  color: white;
}

.group-header h1 {
  font-size: 62px;
  margin-top: 180px;
}

.group-body {
  width: 90%;
  margin: auto;
}

.group-col {
  flex-basis: 48%;
  padding: 30px 2px;
}

.group-col h2 {
  margin-top: 50px;
  text-align: center;
  font-weight: 800;
}

.group-col div {
  margin: 20px;
}

.g2 {
  width: 80%;
  text-align: left;
  margin: auto;
  background-color: white;
}

.g2 .row {
  display: block;
  margin: 50px;
}

.g2 .row h3 {
  text-align: left;
  font-weight: 800;
}

.g2-t1 {
  display: flex;
}

.g2-t1 p {
  margin: 70px;
  font-weight: 550;
  font-size: 18px;
}

/* sharing */
.sharing-header {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(png/sharing.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  color: white;
}

.sharing-header h1 {
  font-size: 62px;
  margin-top: 150px;
}






/* study */
.study-header {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(png/study.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  color: white;
}

.study-header h1 {
  font-size: 62px;
  margin-top: 150px;
}

.visa {
  width: 80%;
  margin: auto;
}

.visa h1 {
  text-align: center;
  margin: 50px;
  color: coral;
  background-color: lightblue;
}

.visa h2 {
  color: red;
  margin-top: 50px;
}

.visa ol li, .visa ul li  {
  margin: 5px 0;
}

.visa ol li ul {
  margin-left: 12px;
}

.visa form label {
  margin: 10px;
}

.visa form label i {
  font-weight: 100;
}

.visa form h3 {
  text-align: left;
  color: blue;
}

.visa input {
  margin: 6px;
}

.study-bar a {
  margin: 30px 30px;
}

/* accommodation */
.accommodation {
  width: 80%;
  margin: auto;
}

.accommodation h1 {
  margin-top: 100px;
  text-align: center;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  color: khaki;
  background-color: brown;
}

.accommodation h2 {
  margin-top: 50px;
  color: red;
}

.accommodation h3 {
  text-align: left;
  color:darkred;
}
.accommodation img {
  width: 50%;
}

.h3b {
  margin-left: 20px;
}

.h3p {
  margin-left: 40px;
}

.accommodation ul {
  margin-left: 28px;
}

.accommodation ul li {
  margin: 10px;
}

.accommodation img {
  display: block;
  width: 50%;
  border-radius: 25px;
  margin-bottom: 50px;
}

/* go */
.go {
  width: 80%;
  margin: auto;
}

.go img {
  display: block;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
}

.go h1 {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 20px;
  background-color: rgb(164, 159, 92);
  color: white;
  margin-left: 50px;
  margin-right: 50px;
}

.go h2 {
  color: red;
  margin-top: 20px;
  margin-bottom: 20px;
}

.go ul {
  margin-left: 20px;
}

.go ul li {
  margin-bottom: 10px;
}

.go-col {
  flex-basis: 50%;
}

.go-col img {
  width: 30%;
  display: block;
  border-radius: 20px;
}

.step {
  width: 80%;
  margin: auto;
}

.step h1 {
  text-align: center;
  background-color: #ffbc14;
  color: #fdfbea;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 20px;
  margin-top: 50px;
}

.step h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 800;
}

.step ul {
  margin-bottom: 30px;
}

.step ul li {
  margin: 10px 0;
  margin-left: 25px;
}
.step-col {
  flex-basis: 40%;
  margin: auto;
}

.step-col img {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

/* culture */
.culture-header {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(png/culture.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  color: white;
}

.culture-header h1 {
  font-size: 62px;
  margin-top: 150px;
}

.culture-body {
  width: 80%;
  margin: auto;
  margin-top: 100px;
  padding-top: 20px;
  background-color:white;
  border-radius: 20px;
}

.culture-body h1 {
  margin-top: 50px;
}

.culture-col {
  flex-basis: 45%;
  padding: 30px 2px;
}

.culture-col img {
  width: 80%;
  display: block;
  border-radius: 20px;
}

.culture-body ul {
  margin-left: 50px;
}

.spe {
  margin-top: 100px;
}