@import url('https://fonts.googleapis.com/css2?family=Poppins');

* {
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: aliceblue;
}

.title-sec {
    text-align: center;
    margin: 2rem;
}

.keyboard-sec {
    background-color: rgb(206, 186, 161);
    border-radius: 5px;
    border: 3px solid black;
    box-shadow: 15px 15px rgb(85, 81, 81);
}

.container {
    justify-content: center;
    align-items: center;
    display: flex;
}

.row {
    display: flex;
}

.cell {
    margin: 10px;
    border: 2px solid;
    padding: 10px;
    height: 35px;
    text-align: center;
    font-size: 16px;
    border-radius: 3px;
    box-shadow: 2px 2px;
    background-color: blanchedalmond;
    transition: 0.3s;
}

.key {
    width: 40px;
}

.size1-1 {
    width: 72px;
}

.size1-2 {
    width: 92px;
}

.size2 {
    width: 124px;
}

.size2-1 {
    width: 156px;
}

.bigsize {
    width: 446px;
}

.contrast {
    background-color: gray;
}

.checked {
    background-color: rgb(25, 148, 25);
}

.footer {
    margin-top: 40px;
    text-align: center;
}

.footer p {
    margin: 2px;
}

.footer a {
    text-decoration: none;
    color: black;
}

.overClicked {
    background-color: rgba(25, 148, 25, 0.3);
}